* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: aqua;
   overflow: hidden;
}

.gameContainer {
    height: 100vh;
    width: 100%;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: relative;

}

.boy {
    background-image: url(boy.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 241px;
    position: absolute;
    bottom: 7%;
    left: 90px;
}
.obstacle{
    background-image: url(Dragon.png);
        height: 186px;
    width: 254px;
    position: absolute;
        bottom: 62px;
    left: 550px;
}
.animateBoy{
    animation: boy 0.6s linear;

}
@keyframes boy{
    0%{
        bottom: 75px;
    }
    50%{
        bottom: 555px;
    }
    100%{
        bottom: 75px;
    }
}
@keyframes dragon{
    0%{
        left: 100vw;
    }
   
    100%{
        left: -10vw;
    }
}
.animatedino{
    animation: dragon 3s linear infinite;
}
